In [17]:
from src.helpers.dataframe import read_df

In [18]:
df = read_df('for_pycaret.pkl')
df

,bg_value__sum_values,bg_value__median,bg_value__mean,bg_value__length,bg_value__standard_deviation,bg_value__variance,bg_value__root_mean_square,bg_value__maximum,bg_value__minimum,label
0,1224.0,123.5,122.4,10.0,17.001176,289.04,123.575078,145.0,98.0,148
1,1271.0,131.0,127.1,10.0,16.931923,286.69,128.222853,148.0,98.0,151
2,1324.0,137.5,132.4,10.0,15.200000,231.04,133.269651,151.0,104.0,150
3,1370.0,141.0,137.0,10.0,12.657014,160.20,137.583429,151.0,112.0,124
4,1382.0,141.0,138.2,10.0,10.637669,113.16,138.608802,151.0,120.0,130
...,...,...,...,...,...,...,...,...,...,...
85,675.0,68.0,67.5,10.0,3.293934,10.85,67.580323,73.0,63.0,73
86,685.0,68.0,68.5,10.0,3.293934,10.85,68.579151,73.0,63.0,81
87,701.0,69.5,70.1,10.0,4.763402,22.69,70.261654,81.0,63.0,91
88,729.0,71.0,72.9,10.0,7.313686,53.49,73.265954,91.0,65.0,90
89,754.0,72.0,75.4,10.0,8.380931,70.24,75.864353,91.0,68.0,75

In [19]:
from pycaret.regression import *

In [20]:
exp_reg = setup(df, target = 'label')

In [21]:
compare_models()

In [22]:
et = create_model('et')

In [23]:
tuned = tune_model(et)

In [25]:
evaluate_model(tuned)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Hyperparameters', 'paramâ€¦

In [26]:
predict_model(et)

,bg_value__median,bg_value__mean,bg_value__length,bg_value__standard_deviation,bg_value__variance,bg_value__maximum,bg_value__minimum,label,Label
0,108.5,104.000000,10.0,16.546904,273.799988,123.0,73.0,65.0,77.18
1,131.0,127.099998,10.0,16.931923,286.690002,148.0,98.0,151.0,135.76
2,62.0,62.000000,10.0,2.645751,7.000000,67.0,59.0,83.0,62.39
3,75.0,87.900002,10.0,32.368038,1047.689941,154.0,59.0,121.0,111.68
4,108.5,100.199997,10.0,20.282011,411.359985,123.0,65.0,65.0,65.09
5,135.0,135.100006,10.0,12.573384,158.089996,151.0,115.0,111.0,125.67
6,118.0,117.900002,10.0,15.807909,249.889999,150.0,89.0,76.0,106.94
7,108.5,109.599998,10.0,9.446692,89.239998,123.0,90.0,80.0,92.93
8,64.5,81.099998,10.0,29.854481,891.289978,154.0,59.0,130.0,112.03
9,108.0,111.800003,10.0,18.470516,341.160004,154.0,83.0,108.0,112.48
10,63.5,64.099998,10.0,3.590265,12.890000,71.0,59.0,59.0,61.51
11,69.5,79.599998,10.0,18.505135,342.440002,117.0,65.0,65.0,71.31
12,82.5,86.500000,10.0,20.205198,408.250000,115.0,64.0,68.0,66.56
13,68.5,71.099998,10.0,5.008992,25.090000,79.0,66.0,68.0,66.96
14,69.5,70.099998,10.0,4.763402,22.690001,81.0,63.0,91.0,72.55
15,62.0,67.199997,10.0,12.343419,152.360001,98.0,59.0,110.0,117.99
16,66.0,69.900002,10.0,5.889822,34.689999,79.0,65.0,72.0,73.65
17,62.0,61.900002,10.0,2.467793,6.090000,66.0,59.0,67.0,62.52
18,141.0,137.800003,10.0,10.731263,115.160004,151.0,121.0,115.0,129.16
19,67.5,68.699997,10.0,3.950949,15.610000,79.0,64.0,63.0,68.47
20,110.0,116.099998,10.0,14.962955,223.889999,154.0,103.0,121.0,119.25
21,66.0,69.300003,10.0,5.197114,27.010000,79.0,65.0,79.0,74.13
22,66.5,66.000000,10.0,2.049390,4.200000,69.0,63.0,65.0,70.89
23,69.5,70.800003,10.0,5.509991,30.360001,79.0,65.0,67.0,68.61
24,113.0,110.500000,10.0,16.360012,267.649994,130.0,76.0,68.0,89.45
25,68.0,77.500000,10.0,15.951488,254.449997,109.0,64.0,66.0,71.92
26,108.5,107.000000,10.0,12.992306,168.800003,123.0,80.0,73.0,83.47
27,85.0,90.800003,10.0,23.232735,539.760010,123.0,65.0,66.0,67.08